<h2>My Heroes</h2>
<!-- <ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <table>
            <tr>
                <td>
                    <span class="badge">{{hero.id}}</span> {{hero.name}}
                </td>
                <td>Dupa</td>
            </tr>

        </table>

    </li>
</ul> -->

<table border="1" width="100%">
    <col style="width:40%">
	<col style="width:60%">
    <tr class="tr" *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <td>
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </td>
        <td>
            <app-hero-detail [hero]="hero"></app-hero-detail>
        </td>
    </tr>
</table>


